body {
	font-family: PT Root UI Web;
	font-style: medium;
	max-width: 1000px;
	margin: 11px 25px;
}

img {
	display: block;
	margin: 0 auto;
}

hr {
	border: none;
	height: 1px;
	background-color:black;
	}

p{
	font-size: 16px;
	line-height: 24px;
	margin: 20px 0 20px 0;
}

/*Общие*/
.main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.head{
	font-style: bold;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 50px;
	margin-top: 40px;
}

.fingerprint_scanner{
	margin-bottom: 60px;
}

.new_design,.accessories{
	margin-bottom: 40px;
}

.razdel{
	opacity: 0.3;
}
/* Заголовок*/
.heading{
	margin-bottom: 6px;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;
}

.image_logo+.image_logo{
	margin-left: 20px;
}

.search{
	margin-left: 30px;
	width: 100%;
}
.search input{
	font-family: PT Root UI Web;
	font-size: 14px;
	line-height: 21px;
	height: 21px;
	width: 90%;
	opacity: 0.7;
	border: none;
}
.menu{
	margin-left: auto;
}
.name{
	background: #EFEFEF;
	height: 24px;
	align-items: center;
	display: none;
}
.name p{
	font-size: 10px;
	line-height: 14px;
	margin:0 0 0 15px;
	opacity: 0.7;
}
.line:not(body){
	margin: 0 -25px;
	height: 1px;
	background: #f2f2f2;
}
.line_red:not(.exctention){
	width: 20.7%;
	height: 3px;
	background:  #D70E2A;
}

.header{
	font-size: 30px;
	line-height: 40px;
	margin: 40px 0px;
}

/* Второй и четвертый раздел*/
.one_block{
	flex-basis: calc(25% - 10px);
	align-items: flex-start;
	}
	
.one_block hr{
	opacity: 0.1;
	margin-top: 25px;
}

.block_right+.block_right,.one_block+.one_block,.one_block+.two_block{
margin-left: 20px;
}

.first_design{
	background: #171717;
	border-radius: 5px;
}
.first_design p {
	margin: 0;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 21px;
	padding: 20px 18px 25px 18px;
}
.first_design img{margin-top: 20px;}

.two_block{flex-basis: 50%;}

.block_right{flex-basis: 50%;}

.block_right hr{
	background: linear-gradient(to right, #000000 50px, #f2f2f2 0%);
}

/*Третий раздел*/
.visible_scan{
	display: none;
}
.image{
	display: flex;
   	align-items: center;
}
.item_right{
	margin-bottom: 40px;
	display: flex;
}
.text_scan{
	font-size: 16px;
	line-height: 24px;
	margin-left: 21px;
}

/*5 раздел*/
.item_app+.item_app{margin-left: 20px;}
.item_app{
	width: calc((100% - 40px) / 3);
}
.item_app hr{
	display: none;
	margin: 30px 0px 30px 0px;
}
.text{
	margin-top: 20px;
	margin-bottom: 50px;
}

@media (max-width: 720px) and (min-width: 320px) {
	/*Второй и четвертый раздел*/
	.wrap_720{flex-wrap:wrap;}
	.one_block{flex-basis: calc(50% - 10px);}
	.two_block{
		flex-basis: 100%;
		margin-top: 50px;
	}
	.one_block+.two_block{margin-left: 0;}
	.first_design img{
		width: calc(100% - 30px);
		object-fit: contain;
	}
	/*третий раздел*/
	.big_image img{
		width: 100%;
		object-fit: contain;
	}
	.visible_scan{
		display: block;
	}
	.not_visible_scan{
	 	display: none;
	}
	.text_scan,.text, p{
	  	font-size: 14px;
	  	line-height: 21px;
	}
}

@media (max-width: 320px){
	/*Общее*/
	body{
		margin-left: 15px;
		margin-right: 15px;
	}
	.head{
		font-size: 22px;
		line-height: 31px;
		margin:20px 0px 30px 0;
	}
	.new_design,.accessories{
		margin-bottom: 30px;
	}
	.fingerprint_scanner{
		margin-bottom: 10px;
	}
	/*Заголовок*/
	.header{
		margin: 30px 0;
	}
	.name:not(body){
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
	}
	.image1 img{
		width: calc(100% + 30px);
	}
	.image_logo+.image_logo{
		margin-left: 0;
	}
	.image_logo img{
		display: block;
		width: calc(100% - 10px);
	}
	.search,.line{
		display: none;
	}

	/*второй и четвертый раздел*/
	.two_block{
		order: 2;
		margin-top:40px;
	}
	.two_block p{
		font-size: 12px;
		line-height: 17px;
	}
	.order{
		order: 3;
		margin-top: 20px;
	}
	/*третий раздел*/
	.wrap_360{flex-wrap: wrap;}
	.item_right{
		display: block;
		margin-top: 30px;
	}
	.image{float:none;}
	.image1:not(body){
		margin-left: -15px;
		margin-right: -15px;
	}
	.one_block,.block_size{flex-basis: 100%;}
	.block_size+.block_size,.one_block+.one_block{
		margin-left: 0;
	}
	.text_scan{
		margin-left: 0;
		margin-top: 20px;
	}
	/*Последний блок*/
	.text{
		font-size: 12px;
		line-height: 17px;
		display: flex;
   		align-items: center;
		height: 61px;
		margin-top: 0;
		margin-bottom: 0;
	}
	.item_app{width: 100%;}
	.item_app+.item_app{margin-left: 0px;}
	.item_app hr{
		display: block;
		opacity: 0.1;
	}
	.right_image{
		float: right;
		margin-left: 16px;
	}
	.left_image{
		float: left;
		margin-right: 17px;
	}
}

